.limited {
    max-width: 1424px;
}

/* Styling quote */
.quote {
    margin-top: 7em;
}

/* Styling Resume page --------------------------------------------------------------- */
.resume{
    max-width: 1248px; 
}