/* main - limited Styling */
.limited {
  padding-left: 40px;
  padding-right: 40px;
}

/* External links menu Styling */
#external-links-menu {
    display: none;
}
.external-link-icon {
    top: 15px;
    left: 15px;
    ul {
        display: flex;
        li:not(:first-child){
            margin-left: 1.5px;
        }
    }
}