/* main - limited Styling */
.limited {
  padding-left: 40px;
  padding-right: 40px;
}

/* External links menu Styling */
#external-links-menu {
    display: none;
}
.external-link-icon {
    ul {
        display: flex;
    }
}