/*---
    Ensures consistent behavior of web pages across different browsers and devices 
 ---*/
/* Prevents text resizing on mobile browsers in WebKit and Microsoft engines */
html {
    -webkit-text-size-adjust: 100%; /* For WebKit browsers */
    -ms-text-size-adjust: 100%; /* For Internet Explorer and Edge */
}

/* Applies the box-sizing border-box model to all elements. 
    This model includes padding and border in the element's total width and height */
* {
    -moz-box-sizing: border-box; /* For old Firefox browsers (pre-Gecko 29) */
    -webkit-box-sizing: border-box; /* For old WebKit browsers (Chrome <10 and Safari <5.1) */
    box-sizing: border-box; /* Standard syntax, for current browsers */
}

/*---
    Styling
---*/
.small-3{
    width: 25%;
}
body {
    background: $backgroundColor;
    color: $textColor;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 25px;
    line-height: 1.5; 
}

/*----------------------------- Navigation -----------------------------*/
/* Styling external links menu  */
body.blur > *:not(header-component){ 
    filter: blur(20px);
}

/*----------------------------- Styling navigation  */
#LangSwitcher {
    float:left;
    margin-top: -5px;
    a {
        font-size: 13px;
        color: $secondaryColor;
        &:hover {
            font-weight: 900;
            color: $accentColor2;  
        }
    }
}
#BtnsContainer {
    display: flex;
    justify-content: flex-end; /* Pushes the button to the right */
    align-items: center;       /* Aligns it vertically in the container */
}
/* Removes standard button characteristics */
#navBtn, #closeBtn { // open and close menu buttons
    background: transparent;   
    border: none; 
    padding: 0;  
    margin: 0;  
    box-shadow: none; 
    appearance: none;   /* Removes default appearance on some browsers */
    cursor: pointer;    /* Ensures the pointer shows on hover */
    width: 44px;
    height: 44px;
}
#navBtn {
    path {
        fill: $darkSecondaryTextColor;
    }
    &:hover {
        path {
            fill: $accentColor2;
        }
    }
}
#closeBtn {
    &:hover {
        path {
            stroke: $accentColor2;
        }
    }
}
#navigation-items{ //hide navigation items
    display: none;
}
#navigation-items.open{ // expand menu items
    z-index: 1000; /* Ensure it's above the blurred main content */
    position:absolute;
    width: 90%;
    height: 245px;
    background-color: $darkBackground;
    display: inline-block;
    list-style: none;
    padding-top:20px;
    line-height: 38px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.702);
    a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: $darkSecondaryTextColor;
    }
    li.active { /* Styling active menu link */
        // border-bottom: solid 1px $secondaryTextColor;
        background-color: $darkAccentColor;
        margin-left: -32px;
        padding-left: 30px;padding: -20px;
        a {
            font-weight: 900;
            color: $darkActiveTextColor;
        }
    }
    li a:hover {
        font-size:large;
        font-weight: 900;
        color: $accentColor2;               /* Change text color on hover */
        path {
            fill: $accentColor2;
        }
    }
    path {
        fill: $secondaryTextColor;
    }
    hr {
        margin: 10px 0;
        width: 95%;
    }
    .logo {
        margin: 4px 5px 7px 0px;
    }
}
nav {
    margin: 0px auto;
    display: flex;
    justify-content: flex-end; /* Pushes the button to the right */
    // align-items: center;       /* Aligns it vertically in the container */
}
.external-links {
    z-index: 1000;
}
/* END - Styling navigation */
main {
    margin-top: 20px;
}
/*----------------------------- Home Page -----------------------------*/
/* Styling Introduction section */
.introduction {
    h1 {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
    }
    p {
        text-align: justify;
    }
    margin-bottom: 2em;
}

/* Styling show case section */
// .showcase{
    p a {
        color: $secondaryTextColor;
    }
// }
.show-items {
    display: flex;
    flex-wrap: wrap;
    a {
        display: flex;
        justify-content: center; /* Horizontally center content within each <a> */
        text-align: center;
        height: 8em;
        margin-bottom: 20px;
        text-decoration: none;
        background-color: #8FA6C2;
        font-size: 1.2em;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        &.inactive{
            cursor:none;
            pointer-events: none;
            background-color: #4F6682;
            color: #fff;
        }
        &:hover:not(.inactive){
            box-shadow: 0 0 30px 0 rgba(81, 122, 154, 0.5);
        }
        .project-details {
            display: none;
        }
    }
}

/* Styling quote */
footer {
    display: flex;
}
.quote {
    margin-top: 4em;
    color: #929292;
    span:nth-child(2){
        font-style: italic;
    }
    span {
        display: block;
    }
}
/* END - Styling quote */

/*----------------------------- Resume Page -----------------------------*/
.resume {
    p, ul {
        margin-bottom: 8px;
    }
    b {
        font-size: 18px;
        font-family: "Roboto Slab", serif;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
    .degree {
        margin-bottom: 20px;
    }
    h3 {
        font-size: 24px;
    }
    a[href^="tel"] {
        pointer-events: none;
        text-decoration: none;
        color: inherit; /* Ensure the link looks like normal text */
    }
}
.work{
    margin-bottom: 13px;
    p, ul {
        margin-bottom: 5px;
    }
}
#skills {
    margin-bottom: 15px;
}
/* END - Styling Resume */

/*----------------------------- Contact Page -----------------------------*/
/* Styling contact form */
.contact-me {
    margin: auto;
    input, textarea, button {
        padding: 2px;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    label {
        margin: 10px 0 3px;
    }
    // input, textarea{
    //     margin-bottom: 10px;
    // }
    h2 {
        text-align: center;
    }
    #sendBtn{
        margin-top: 15px;
        color: $secondaryTextColor;
        border-color: $secondaryTextColor;
        &:hover {
            background-color: $secondaryTextColor;
            color: $darkBackground;
        }
    }
    .invalid-feedback{
        margin-top: px;
        &.show{
            display: inline-block;
        }
    }
    .invalid{
        border: 2px solid #7d2239;
    }
}

