$backgroundColor: #001733;
$textColor: #c2d4e1;
$secondaryTextColor: #66AADF;
$secondaryColor: #61A5DA;
$accentColor:#007ACC;
$accentColor2: #FCF8F2;
$floatBtnColor: $accentColor;
$midBackground: #02101e;
$grayAccent: #4c6374;

$darkBackground: #000f29; /* Darker version of $backgroundColor */
$darkSecondaryTextColor: #4e8ebd; /* Darker version of $secondaryTextColor */
$darkActiveTextColor: #94b4cb; /* Darker version of $textColor */
$darkAccentColor: #00558a; /* Darker version of $accentColor */

