@use "../../styles/abstracts/variables" as *;

.hero {
    text-align: center;
    min-height: calc(100svh - 6.2rem); // screen size - navbar's height
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
    img.logo-mobile{
        width: 13em;
        margin: 20px auto;
    }

    .desktop-logo {
        display: none;
    }

    h2 {
        font-size: 1em;
    }
}

.hero::after { // draws a line after .hero
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 0.5px;
    bottom: 0; // Anchor to bottom of .hero
    background: $golden_line;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
}