@use "../../styles/abstracts/variables" as *;

.cta {
    padding: 6.5rem 0;
    text-align: center;

    p {
        padding: 0.7rem 1.2rem;
    }

    .email {
        color: $accentColor_darkTheme;
        margin-bottom: 2.3rem;
    }
}

/* ------------------------------ Styling for medium screens ------------------------------ */
@media (min-width: $breakpoint_medium) {
    .cta{
        text-align: left;

        p {
            padding: 0.4rem 0;
        }
    }
}