@use "../abstracts/variables.scss" as *;

body {
    background-color: $background_darkTheme;
}

nav { // nav and 
    padding: 20px;
}
main { // to avoid horizontal scroll bar
    overflow: hidden;
}

/* Removes standard button characteristics */
button {
    background: transparent;   
    border: none; 
    padding: 0;  
    margin: 0;  
    box-shadow: none; 
    appearance: none;   
    cursor: pointer;
}

@media (min-width: $breakpoint_large) {
    main, .content, .inner-content {
        max-width: $breakpoint_large;
        margin: 0px auto;
    }
}