@use "../abstracts/variables.scss" as *;

body {
    background-color: $background_darkTheme;
    margin: 0px auto !important;
    width: 100%;
}

/* Removes standard button characteristics */
button {
    background: transparent;   
    border: none; 
    padding: 0;  
    margin: 0;  
    box-shadow: none; 
    appearance: none;   /* Removes default appearance on some browsers */
    cursor: pointer;    /* Ensures the pointer shows on hover */
}

@media (min-width: $breakpoint-large) {
    body {
        max-width: $breakpoint-large;
    }
    nav {
        border-bottom-width:100vh;
    }
}