@use "../../../../styles/abstracts/variables" as *;

.intro {
    width: 90%;
    margin: 5.5em auto;
    text-align: center;

    h2 {
        font-size: 1.7rem;
        color: $bodyText_darkTheme;
    }

    h1 {
        padding: 0.7rem 0 0.5rem 0;
    }
    p, a {
        font-size: 1.1rem;
    }
    
    a {
        margin-top: 2.5em;
        display: flex;
        justify-self: end;
    }
}

/* ------------------------------ Styling for medium screens ------------------------------ */
@media (min-width: $breakpoint_medium) {
    .intro {
        max-width: 650px;
        margin: 6em auto;
    }
    
}
