@use "../../../../styles/abstracts/variables" as *;
@use "../../../../styles/abstracts/decorations" as *;

.intro { 
    @extend %background-gradient-right;
}
.intro::after { // draws a line after .intro
    @extend %line-divider;
}

.intro .inner-content {
    width: 90%;
    padding: 5.5em 0.5em;
    margin: 0 auto;
    text-align: center;

    h2 {
        font-size: 1.7rem;
        color: $bodyText_darkTheme;
    }

    h1 {
        padding: 0.7rem 0 0.5rem 0;
    }
    p, a {
        font-size: 1.1rem;
    }
    
    a {
        margin-top: 2.5em;
        display: flex;
        justify-self: end;
    }
}

/* ------------------------------ Styling for medium screens ------------------------------ */
@media (min-width: $breakpoint_medium) {
    .intro .inner-content {
        max-width: 600px;
        padding: 6em 0;
        margin: 0 auto;
    }
    
}
