@use "./variables" as *;

%line-divider { // draws a golden line 
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 0.5px;
    bottom: 0; // Anchor to bottom of parent
    background: $golden_line;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

/* ------------------------------ Styling for large screens ------------------------------ */
@media (min-width: $breakpoint_medium) {
    
}

/* ------------------------------ Styling for large screens ------------------------------ */
@media (min-width: $breakpoint_large) { 
    
}