/* ---------------------------- Screen sizes ---------------------------- */
$breakpoint_medium: 768px;
$breakpoint_large: 1024px;
$navbar_height: 82.1px;

/* ---------------------------- Fonts ---------------------------- */
$primaryFont: "Crimson Pro", serif;
$accentFont: "Glass Antiqua", sans-serif;

/* ---------------------------- Dark Theme ---------------------------- */
$background_darkTheme: #291539;
$primaryColor_darkTheme: #E5A857;
$accentColor_darkTheme: #D57966;
$bodyText_darkTheme: #EAE9F0;
$golden_line: linear-gradient(20deg,rgba(204, 143, 63, 1) 14%, rgba(230, 192, 142, 1) 27%, rgba(204, 143, 63, 1) 47%, rgba(204, 143, 63, 1) 76%, rgba(230, 192, 142, 1) 95%);

