
$accentFont: "Glass Antiqua", sans-serif;

/* ---------------------------- Dark Theme ---------------------------- */
$background_darkTheme: #281439;
$primaryColor_darkTheme: #E5A857;
$accentColor_darkTheme: #D57966;
$bodyText_darkTheme: #EAE9F0;

