/* ---------------------------- Screen sizes ---------------------------- */
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

/* ---------------------------- Fonts ---------------------------- */
$primaryFont: "Crimson Pro", serif;
$accentFont: "Glass Antiqua", sans-serif;

/* ---------------------------- Dark Theme ---------------------------- */
$background_darkTheme: #291539;
$primaryColor_darkTheme: #E5A857;
$accentColor_darkTheme: #D57966;
$bodyText_darkTheme: #EAE9F0;

