@use "../../styles/abstracts/variables" as *;

.mobile-logo {
    display: inline-block !important;
    margin-left: 10px;
}

.mobile-logo,
#navBtn img, #closeBtn img {
    width: 44px;
}

nav {
    background-color: $background_darkTheme;
    padding-top: 1rem;
    padding-right: 1.4rem;
    padding-bottom: 1rem;
    padding-left: 1.4rem;
    display: flex;
    justify-content: space-between;
}

nav::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    top: 4.8rem;
    background-color: $primaryColor_darkTheme;
}

#navigation-items {
    display: none;
    right: 0px;
}

#blurred-overlay {
    z-index: 900;
    position: fixed;
    top: 5rem;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;

}

body.blur {
    nav + div{
        filter: blur(8px);
        cursor: pointer;
    }
}

.open #navigation-items { // expand menu items
    z-index: 1000; /* Ensure it's above the blurred main content */
    position:absolute;
    width: 75%;
    height: fit-content;
    background-color: $background_darkTheme;
    display: inline-block;
    margin-top: 3.9rem;
    padding: 30px 0px 40px 50px;
    line-height: 44px;
    font-size: 1.1rem;
    border: 1px solid black;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);

    a {
        display: block;
        width: 80%;
        text-decoration: none;
        color: $primaryColor_darkTheme;
        border-top: solid 1px transparent;
        border-bottom: solid 1px transparent;
    }
    a:hover {
        width: 120%;
        border-top: solid 1px $primaryColor_darkTheme;
        border-bottom: solid 1px $primaryColor_darkTheme;
        background-color: rgba(234, 233, 240, 0.12);
        margin-left: -50px;
        padding-left: 50px;
    }
    a.active {
        text-decoration: underline;
    }
}

.open #external-links {
    width: 85%;
    border-top: 1px solid $primaryColor_darkTheme;
    margin-top: 30px;
    padding-top: 15px;

    a {
        width: 95%;
    }
    a:hover, a.active{
        width: 200%;
    }
}

@media (min-width: $breakpoint-medium) { /* Styling for medium screens */
    nav button,
    #external-links {
        display: none;
    }

    #navigation-items{
        display: flex;
        align-items: end;
        a {
            display: inline-block;
            text-decoration: none;
            padding: 0px 20px;
            color: $primaryColor_darkTheme;
        }
        a.active {
            text-decoration: underline;
        }
    }
    
}

@media (min-width: $breakpoint-large) { /* Styling for large screens */
    .mobile-logo {
        display: none !important;
    }

    .desktop-logo {
        display: inline !important;
        width: 140px;
        padding-left: 20px;
    }
    nav {
        margin: 0 20px;
    }
    nav::after {
        top: 4.7rem;
    }
}